* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.about {
  position: relative;
}
.about .container {
  z-index: 3;
  position: relative;
  display: flex;
}
.about .container .detail {
  display: flex;
  align-items: center;
}
.about .section_yellowIMG_top {
  top: 0;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
}
.about .section_yellowIMG_top img {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
}
.about .section_purpleIMG_bottom {
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
  bottom: 0;
}
.about .section_purpleIMG_bottom img {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
}