* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {}

.about {
    position: relative;

    .container {
        z-index: 3;
        position: relative;
        display: flex;

        .detail {
            display: flex;
            align-items: center;
            p {}

            h1 {}
        }

        .thumbnail {
            img {}
        }
    }

    .section_yellowIMG_top {
        top: 0;
        position: absolute;
        right: 0;
        left: 0;
        pointer-events: none;

        img {
            width: 100%;
            height: auto;
            display: block;
            user-select: none;
        }
    }

    .section_purpleIMG_bottom {
        position: absolute;
        right: 0;
        left: 0;
        pointer-events: none;
        bottom: 0;

        img {
            width: 100%;
            height: auto;
            display: block;
            user-select: none;
        }
    }
}